.breadcrumbs {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: var(--size-twenty);
    padding: var(--size-ten) var(--size-twenty);
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    li {
        display: flex;
        align-items: center;
        color: var(--black);
        &:not(:last-child) {
            margin-right: 2px;
            &:after {
                font-size: var(--font-size-xs);
                font-weight: 300;
                content: "/";
                margin-left: 2px;
            }
        }
        a {
            color: var(--black);
            font-size: var(--font-size-sm);
            font-weight: 300;
            text-decoration: none;
            &:hover {
                color: var(--black-hover);
                text-decoration: underline;
            }
        }
    }
    sup {
        font-size: 6px;
        top: -6px;
        sub {
            font-size: 3px;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 480px) {
    .breadcrumbs {
        padding: var(--size-ten) var(--padding-container-mobile);
        li {
            a {
                font-size: var(--font-size-xs);
            }
        }
    }
}