.slider {
    font-size: 0;
    background-image: url('../images/background.webp');
    background-position-y: bottom;
    background-position-x: center;
    max-height: 350px;
    overflow: hidden;
    .slider-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-width: 585px;
        min-width: 350px;
        text-align: left;
        padding-left: 40px;
        padding: 20px;
        .slider-title {
            font-size: var(--font-size-slider-title);
            font-weight: 700;
            font-style: italic;
            color: var(--white);
            margin-bottom: 15px;
        }
        .slider-subtitle {
            font-size: var(--font-size-slider-subtitle);
            font-weight: 700;
            color: var(--white);
            margin-bottom: 7px;
        }
        .slider-description {
            font-size: var(--font-size-sm);
            line-height: 21px;
            font-weight: 400;
            color: var(--white);
        }
    }
    .slider-image {
        width: 50%;
    }
}

.slider-wrapper {
    width: 100%;
}

.slider-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.slider-image {
    width: 100%; /* Ensure the image container takes up the full width */
}

.slider-image img {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    max-height: 350px; /* Maximum height of the image */
}

// Large Desktop
@media only screen and (min-width: 1660px) {
    .slider {
        .slider-text {
            min-width: 350px;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .slider {
        background-position-x: left;
        .slider-text {
            .slider-title {
                font-size: 32px;
                margin-bottom: 10px;
            }
            .slider-subtitle {
                font-size: 24px;
            }
            .slider-description {
                line-height: 18px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .slider {
        .slider-text {
            padding: 10px 20px;
            .slider-title {
                font-size: 30px;
                margin-bottom: 10px;
            }
            .slider-subtitle {
                font-size: 24px;
                margin-bottom: 7px;
            }
            .slider-description {
                font-size: var(--font-size-xs);
                line-height: 14px;
            }
        }
    }
}

// Tablet
@media only screen and (max-width: 820px) {
    .slider {
        .slider-text {
            min-width: 270px;
        }
    }
}

// Mobile
@media screen and (max-width: 660px) {
    .slider {
        background-image: none;
        background-size: auto;
        background-color: var(--black);
        // min-height: 200px;
        .slider-item {
            flex-direction: column-reverse;
        }
        .slider-text {
            min-width: 150px;
            text-align: center;
            padding: 60px var(--padding-container-mobile);
            .slider-title {
                font-size: var(--font-size-xl);
                margin-bottom: 10px;
            }
            .slider-subtitle {
                font-size: var(--font-size);
                margin-bottom: 0;
            }
        }
        .slider-image {
            display: none;
        }
    }
}
